[x-cloak] { display: none !important; }

/* components */
.button-menu { width: 15rem; }
.button-number { width: 4rem;
                 padding: 1rem;
                 border: 2px solid black; }
.button-number-top { width: 6rem; }
.number-input { border-bottom: 3px solid black; }
.page-content { height: 100vh;
                width: 100vw; }

/* misc */
.btn:active { opacity: 0.6; }

/* utility classes */
.cursor-default { cursor: default; }
.cursor-pointer { cursor: pointer; }
.flex-center { justify-content: center;
               align-items: center; }
.pointer-events-none { pointer-events: none; }
.user-select-none { user-select: none; }
.w-100 { width: 100%; }
.w-max-20rem { max-width: 20rem; }
